hr {
   display: block;
   color:black;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: 0;
   margin-right: auto;
   border-style: inset;
   border-width: 0.8px;
   border-color:black;
   width: 40%;
   text-align:left;
    }
    hr1 {
  display: block;
  color:black;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  border-color:black;
  width: 100%;
  text-align:left;
   }
  body{
      background-color:#b2ebf2;
  }
  img{
    position:absolute;
    top:40px;
    right:240px;
    width:300px;
    height:300px;
  }
  div.bottomText{
    position:absolute;
    top:370px;
    right:160px;
    font-size-adjust:  auto;
  }
  div.randomRectangle{
    position:absolute;
    top:40px;
    left:160px;
    width:200px;
    height:500px;
    background-color: #80cbc4;
    z-index: -2;
  }
  div.randomRectangle1{
    position:absolute;
    top:20px;
    right:220px;
    width:350px;
    height:800px;
    background-color: #80cbc4;
    z-index: -2;
  }
  div.randomRectangle2{
    position:absolute;
    top:370px;
    right:160px;
    width:450px;
    height:200px;
    background-color: #26a69a;
    z-index: -1;
  }
  div.button{
    position:absolute;
    bottom:90px;
    right:240px;
  }
  div.button1{
    position:absolute;
    bottom:50px;
    right:240px;
  }
