﻿     {% extends 'Story4-Base.html'%}
	 {%load static%}
	 {%block content%}
 <!-- Dropdown Structure -->
 <ul id="dropdown1" class="dropdown-content">
	 <li><a href="#!">Registration</a></li>
	 <li><a href="#!">GookSpeak</a></li>
	 <li class="divider"></li>
	 <li><a href="#!">Market</a></li>
 </ul>
 <nav>
 <div class="nav-wrapper">
	 <a href="#!" class="brand-logo"></a>
	 <ul class="right hide-on-med-and-down">
	 <li><a href="Registration.html">Registration</a></li>
		 <!-- Dropdown Trigger -->
	 <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
	 </ul>
	 </div>
 <!-- Dropdown Structure -->
 </nav>
	 <div class="container">
     <div><h4 class="flow-text"><font size="7">Amal Adiguna</font></h4></div>
     <hr/>
      <div><font size="4"><span class="flow-text">Born:   29 April 1999</span></font></div>
      <div><font size="4"><span class="flow-text">Age:   19</span></font></div>
      <div><font size="4"><span class="flow-text">Birthplace: Jakarta, Indonesia</span></font></div>
    <hr/>
    <br>
    <div><font size="4"><span class="flow-text">Sex/Gender:   Male</span></font></div>
    <div><font size="4"><span class="flow-text">Race:   Asian</span></font></div>
    <div><font size="4"><span class="flow-text">Occupation: Student</span></font></div>
    <div><font size="4"><span class="flow-text">Affiliation:   None</span></font></div>
    <div><font size="4"><span class="flow-text">Nationality:   Indonesia</span></font></div>
    <hr/>
    <div><font size="4"><span class="flow-text">Academic History:</span></font></div>
    <div><font size="4"><span class="flow-text">High School: SMAN 82</span></font></div>
    <div><font size="4"><span class="flow-text">University: University of Indonesia (ongoing)</span></font></div>
    <br>
    <hr1/>
    <div><font size="4"><span class="flow-text">Participated in the following MUN events:</span></font></div>
    <div><font size="4"><span class="flow-text">1. IMUN 2017</span></font></div>
    <div><font size="4"><span class="flow-text">2. NTUMUN 2018</span></font></div>
    <div><font size="4"><span class="flow-text">3. ALSA E-COMP 2018 (Most Outstanding Delegate)</span></font></div>
    <div><font size="4"><span class="flow-text">4. Grand General Assembly (Best Delegate)</span></font></div>
    <div><font size="4"><span class="flow-text">5. SMUN 2018</span></font></div>
    </div>
    <div class="wrapper">
      <div class="img">
        <img src="https://scontent.fcgk12-1.fna.fbcdn.net/v/t1.0-0/p552x414/36737332_10213176522189667_3006931321466388480_n.jpg?_nc_cat=104&oh=14643f4e27a236a0c3c7bff9128f64ba&oe=5C5F469A" alt="" class="responsive-image z-depth-4 circle">
      </div>
      <div class="bottomText">
        <span class="flow-text">I am a Computer Science student with <br>
          secondary interests in International <br>
          Relations and Economy.<br>I look forward to putting my skills<br>
           as a CS student to use.</span>
      </div>
      <div class="randomRectangle"></div>
      <div class="randomRectangle1"></div>
      <div class="randomRectangle2"></div>
    </div>
     <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	{% endblock %}
